
@{
    ViewBag.Title = "QuemSomos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
}

<div class="linha">

    <span class="coluna">
        O B-Safe foi desenvolvido com o intuito de apresentar ocorrências em locais informados pelo usuário, para que o mesmo possa tomar ciência do possível histórico criminal da área desta forma informando ao usuário o local onde ele possa estar mais seguro e onde ele estará correndo um alto risco de roubo, furto, homicídio, etc...
    </span>



    <img class="coluna" src="~/Imagens/seguranca.jpg" />

</div>

<div class="linha">
    <img class="coluna" src="~/Imagens/aplicativo.jpg" />

    <span class="coluna">
        A função do B-Safe é mostrar ao usuáriorelatos de ocorrências que foram registradas por outros usuários da aplicação, para que com estes dados o usuário possaentender o nível de riscodo local indicado e consiga se prevenir ou tomar mais cautela na região registrada. Outra função do sistema é registrar ocorrências em uma determinada área para que outros usuário possam utilizar desta informação.
    </span>

</div>

