<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<connectionStrings>
      <!-- BANCO DE DADOS SENAI
      <add name="bancoDados" connectionString="Server=ESN509VMYSQL; Database=3dsa_tcc_grupoc; Uid=aluno; Pwd=Senai1234; SslMode=none"/>
      -->
    <add name="bancoDados" connectionString=" Server = localhost ; Database = 3dsa_tcc_grupoc ;  Uid = Luan ; Pwd = Senai1234 " />
	</connectionStrings>

    <system.web>
	
	 <!-- Código adicionado para permitir acesso externo ao web service-->
      <webServices>
        <protocols>
          <add name="HttpGet"/> <!--Libera o acesso pelo navegador-->
          <add name="HttpPost"/> <!--Libera o acesso pelo Android-->
        </protocols>
      </webServices>
	
	<customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
